/* Font */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:100,400,700');
$ff-ss: 'Merriweather Sans', sans-serif;
$ff-s: 'Merriweather', serif;

$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
/* Colors */

$bg: #f6f1ed;
$dark: #30231d;
$light: #50413c;
$red: #cc3914;

$primary: #032f3e;
$gold: #ab987a;

